a.out
.*.swp
*.o
*.a
build/
test/testvlu
test/testplatform
test/testaddress
test/testclient
test/server
test/t2
test/testchecksums
test/testlist
test/testperform
test/tis
test/testhex
test/fcclient
test/echoserver
test/rtclient
test/testamf
test/testtcmsg
test/testflowsync
test/static-redirector
test/rtmpserver
test/tcrelay
test/testreorder
test/testmedia
test/redirector
test/tcserver
